<ng-container *ngFor="let column of columnsArray">
  <div class="col-sm board-colum">
    <div class="colum-headline">
      <h2>{{ column.columnName }}</h2>
    </div>
    <hr class="rounded" />
    <!-- for postits-->
    <button class="colum-create-button" type="button">
      <i class="bi bi-plus" (click)="open(content)"></i>
    </button>
    <div class="col-sm postit-place">Postits</div>
  </div>
</ng-container>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Postit</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="input-group">
        <textarea
          ngModel
          required
          name="text"
          type="text"
          class="form-control"
          placeholder="Type column name here ..."
        >
        </textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn footbutton btn-outline-dark">
      <i class="bi bi-plus"></i>
      Add new postit
    </button>
  </div>
</ng-template>
